:root {
  --color-1: #ee373a;
  --color-2: #eeb437;
  --color-3: #3792ee;
  --color-4: #252525;
  --color-5: #f1f1f1;
}

/* ------------------------------------- */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.ancho {
  max-width: 1200px;
  margin: auto;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-feature-settings: 'ss07' 1;
  -webkit-font-smoothing: antialiased;
  background: #ffffff;
  background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(237, 237, 237, 1) 100%);
}

button {
  cursor: pointer;
}

a {
  display: inline-block;
  text-decoration: none;
  transition: all .15s linear;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  transition: all .15s linear;
}

figure {
  overflow: hidden;
  transition: all .15s linear;
}

figure img:hover {
  transform: scale(1.02);
}

ul {
  list-style: none;
  padding: 0;
}

/* ------------------------------------- */

header {
  background-color: var(--color-4);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.400);
}

.div_header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 2rem;
}

.figure_logo {
  width: 2rem;
}

.nav_main_menu ul {
  display: flex;
  gap: 2rem;
}

.nav_main_menu a {
  color: var(--color-5);
}