@media screen and (max-width: 480px) {

  body {
    font-size: 1rem;
  }

  /* ------------------------------------- */

  .paragraph_bgdark {
    padding: 1.5rem;
  }

  /* ------------------------------------- */

  .div_parallax {
    height: 350px;
  }

  .figure_parallax {
    flex-direction: column;
    gap: 1rem;
  }

  /* ------------------------------------- */

  .article_main {
    text-align: center;
    gap: 0rem;
    padding: 2rem 0 0 0;
    flex-direction: column;
  }

  /* ------------------------------------- */

  .section_beneficios {
    gap: 2rem;
    padding: 2rem;
    text-align: left;
  }

  .articles_beneficios {
    align-items: center;
    gap: 2rem;
    flex-direction: column;
    padding: 0;
    text-align: center;
  }

  .articles_beneficios article {
    padding: 1rem;
    width: 80%;
  }

}