:root {
  --color-1: #ee373a;
  --color-2: #eeb437;
  --color-3: #3792ee;
  --color-4: #252525;
  --color-4-t: #252525d2;
  --color-5: #dddddd;
  --color-6: #353535;
  --color-7: #ffffff;
  --color-8: #000000;
  --color-8-t: #00000094;
}

/* ------------------------------------- */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.ancho {
  max-width: 1200px;
  margin: auto;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-feature-settings: 'ss07' 1;
  -webkit-font-smoothing: antialiased;
  color: var(--color-5);
  background-color: var(--color-4);
  font-size: 1.1rem;
}

h1,
h2,
h3 {
  color: var(--color-7);
}

button {
  cursor: pointer;
}

a {
  display: inline-block;
  text-decoration: none;
  transition: all .15s linear;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  transition: all .15s linear;
}

figure {
  transition: all .15s linear;

}

figure img:hover {
  transform: scale(1.02);
}

ul {
  list-style: none;
  padding: 0;
  line-height: 2rem;
}

span {
  font-weight: bold;
  color: var(--color-7);
}

/* ------------------------------------- */

.button_yellow {
  color: var(--color-8);
  background-color: var(--color-2);
  padding: .6rem 1rem;
  border-radius: 10px;
  font-weight: bold;

}

.button_yellow:hover {
  color: var(--color-6);
  /* box-shadow: 0px 0px 10px var(--color-8-t); */
  transform: scale(1.02);
  filter: drop-shadow(0px 0px 150px var(--color-2));
}

.paragraph_bgdark {
  background-color: var(--color-4);
  border-radius: 20px;
  padding: 2rem;
  text-align: left;
}

/* ------------------------------------- */

header {
  background-color: var(--color-4-t);
  box-shadow: 0px 0px 10px var(--color-8-t);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}

.div_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.figure_logo {
  width: 2rem;
}

.nav_main_menu ul {
  display: flex;
  gap: 2rem;
}

.nav_main_menu a {
  color: var(--color-7);
  font-weight: bold;
  padding-bottom: .25rem;
  text-align: center;
  /* width: 100px; */
}

.nav_main_menu a:hover {
  color: var(--color-5);
}

.nav_main_menu li:nth-child(1) a {
  border-bottom: 4px solid var(--color-1);
  /* color: var(--color-1); */
}

.nav_main_menu li:nth-child(2) a {
  border-bottom: 4px solid var(--color-2);
}

.nav_main_menu li:nth-child(3) a {
  border-bottom: 4px solid var(--color-3);
}


/* ------------------------------------- */

.section_main_parallax {
  position: relative;
}

.div_parallax {
  background-image: url("/files/parallax1.webp");
  height: 500px;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(.40);
}

.figure_parallax {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-5);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.figure_parallax img {
  width: 140px;
}

.figure_parallax h1 {
  font-size: clamp(1.5rem, 5vw, 3rem);
}

.span1 {
  color: var(--color-1);
}

.span2 {
  color: var(--color-2);
}

.span3 {
  color: var(--color-3);
}

/* ------------------------------------- */

main {
  background-color: var(--color-6);
  padding: 2rem;
  text-align: center;
}

.article_main {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  gap: 2rem;
  padding: 1rem 4rem;
}

.article_main figure {
  filter: drop-shadow(0px 0px 150px var(--color-1));
  z-index: 10;
  width: clamp(300px, 70vh, 580px);
}

main h2 {
  font-size: 2rem;
}

/* ------------------------------------- */

.section_beneficios {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 4rem;
  align-items: center;
  text-align: center;
}

.articles_beneficios {
  display: flex;
  align-items: start;
  justify-content: space-evenly;
  padding: 2rem 0;
}

.articles_beneficios article {
  background-color: var(--color-6);
  padding: 1rem;
  width: 26%;
  border-radius: 0 0 15px 15px;
  transition: all .15s linear;
}

.articles_beneficios i {
  font-size: 1.5rem;
}

.articlered {
  border-top: 1rem solid var(--color-1);
  /* filter: drop-shadow(0px 0px 150px var(--color-1)); */
}

.articleblue {
  border-top: 1rem solid var(--color-3);
  /* filter: drop-shadow(0px 0px 150px var(--color-3)); */
}

.articleyellow {
  border-top: 1rem solid var(--color-2);
  /* filter: drop-shadow(0px 0px 150px var(--color-2)); */
}

.articles_beneficios article:hover {
  transform: scale(1.02);
  z-index: 10;
}

/* ------------------------------------- */

.section_infoextra {
  background-color: var(--color-6);
  text-align: center;
  padding: 2rem;
}

.article_infoextra {
  display: flex;
  padding: 2rem 4rem;
  text-align: right;
  gap: 2rem;
}

.article_infoextra figure {
  filter: drop-shadow(0px 0px 150px var(--color-3));
  z-index: 10;
  width: clamp(300px, 70vh, 580px);
}

.div_art_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ------------------------------------- */

.article_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.article_card figure {
  filter: drop-shadow(0px 0px 150px var(--color-2));
  z-index: 10;
  width: 30%;
}