:root {
  --color-1: #ee373a;
  --color-2: #eeb437;
  --color-3: #3792ee;
  --color-4: #252525;
  --color-5: #f1f1f1;
  --color-6: #dddddd90;
}

/* ------------------------------------- */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.ancho {
  max-width: 1200px;
  margin: auto;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-feature-settings: 'ss07' 1;
  -webkit-font-smoothing: antialiased;
  background: #ffffff;
  background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(237, 237, 237, 1) 100%);
}

button {
  cursor: pointer;
}

a {
  display: inline-block;
  text-decoration: none;
  transition: all .15s linear;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  transition: all .15s linear;
}

figure {
  transition: all .15s linear;
}

figure img:hover {
  transform: scale(1.02);
}

ul {
  list-style: none;
  padding: 0;
}

/* ------------------------------------- */

header {
  background-color: var(--color-4);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.400);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}

.div_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
}

.figure_logo {
  width: 2rem;
}

.nav_main_menu ul {
  display: flex;
  gap: 2rem;
}

.nav_main_menu a {
  color: var(--color-5);
  font-weight: bold;
  padding-bottom: .25rem;
  text-align: center;
  /* width: 100px; */
}

.nav_main_menu li:nth-child(1) a {
  border-bottom: 4px solid var(--color-1);
  /* color: var(--color-1); */
}

.nav_main_menu li:nth-child(2) a {
  border-bottom: 4px solid var(--color-2);
}

.nav_main_menu li:nth-child(3) a {
  border-bottom: 4px solid var(--color-3);
}

.nav_main_menu a:hover {
  color: var(--color-6);
}

/* ------------------------------------- */

.section_main_parallax {
  padding: 2rem;
  position: relative;
}

.div_parallax {
  border-radius: 20px;
  background-image: url("/files/parallax1.webp");
  height: 500px;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(.40);
}

.figure_parallax {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-5);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.figure_parallax img {
  width: 140px;
}

.figure_parallax h1 {
  font-size: clamp(1.5rem, 5vw, 3rem);
}

.span1 {
  color: var(--color-1);
}

.span2 {
  color: var(--color-2);
}

.span3 {
  color: var(--color-3);
}

/* ------------------------------------- */

main {
  background-color: var(--color-6);
}