:root {
  --color-1: #;
  --color-2: #;
  --color-3: #;
}

/* ------------------------------------- */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.ancho {
  max-width: 1200px;
  margin: auto;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-feature-settings: 'ss07' 1;
  -webkit-font-smoothing: antialiased;
}

button {
  cursor: pointer;
}

a {
  display: inline-block;
  text-decoration: none;
  transition: all .15s linear;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  transition: all .15s linear;
}

figure {
  overflow: hidden;
  transition: all .15s linear;
}

figure img:hover {
  transform: scale(1.02);
}

ul {
  list-style: none;
  padding: 0;
}

/* ------------------------------------- */