@media screen and (max-width: 480px) {

  body {
    font-size: 1rem;
  }

  /* ------------------------------------- */

  .paragraph_bgdark {
    padding: 1.5rem;
  }

  /* ------------------------------------- */

  .div_parallax {
    height: 350px;
  }

  .figure_parallax {
    flex-direction: column;
    gap: 1rem;
  }

  /* ------------------------------------- */

  .article_main {
    text-align: center;
    gap: 1rem;
    padding: 2rem 0 0 0;
    flex-direction: column;
  }

}