:root {
  --color-1: #ee373a;
  --color-2: #eeb437;
  --color-3: #3792ee;
  --color-4: #252525;
  --color-4-t: #252525d2;
  --color-5: #d0d0d0;
  --color-6: #353535;
  --color-7: #ffffff;
  --color-8: #000000;
  --color-8-t: #00000057;
}

/* ------------------------------------- */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.ancho {
  max-width: 1200px;
  margin: auto;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-feature-settings: 'ss07' 1;
  -webkit-font-smoothing: antialiased;
  color: var(--color-5);
  background-color: var(--color-4);
  font-size: 1.1rem;
}

h1,
h2,
h3 {
  color: var(--color-7);
}

button {
  cursor: pointer;
}

a {
  display: inline-block;
  text-decoration: none;
  transition: all .15s linear;
  color: var(--color-3);
}

img {
  display: block;
  width: 100%;
  height: 100%;
  transition: all .15s linear;
}

figure {
  transition: all .15s linear;

}

figure img:hover {
  transform: scale(1.02);
}

ul {
  list-style: none;
  padding: 0;
  line-height: 2rem;
}

span {
  font-weight: bold;
  color: var(--color-7);
}

/* ------------------------------------- */

.button_yellow {
  color: var(--color-4);
  background-color: var(--color-2);
  padding: .6rem 1rem;
  border-radius: 10px;
  font-weight: bold;
  filter: drop-shadow(5px 5px 0px var(--color-8-t));
}

.button_yellow:hover {
  transform: scale(1.02);
  color: var(--color-6);
}


/* ------------------------------------- */

header {
  background-color: var(--color-4-t);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}

.div_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.figure_logo {
  width: 2rem;
}

.nav_main_menu ul {
  display: flex;
  gap: 2rem;
}

.nav_main_menu a {
  color: var(--color-7);
  font-weight: bold;
  padding-bottom: .25rem;
  text-align: center;
}

.nav_main_menu a:hover {
  color: var(--color-5);
}

.nav_main_menu li:nth-child(1) a {
  border-bottom: 4px solid var(--color-1);
  /* color: var(--color-1); */
}

.nav_main_menu li:nth-child(2) a {
  border-bottom: 4px solid var(--color-2);
}

.nav_main_menu li:nth-child(3) a {
  border-bottom: 4px solid var(--color-3);
}

@media screen and (max-width: 480px) {

  body {
    font-size: 1rem;
  }

  

}