.article_services {
  display: flex;
  padding: 2rem 4rem;
  gap: 2rem;
  align-items: center;
}

.article_services figure {
  z-index: 10;
  width: clamp(300px, 70vh, 580px);
}

/* ------------------------------------- */

.articles_beneficios {
  flex-wrap: wrap;
  row-gap: 2rem;
}

.articles_beneficios article {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(5px 5px 0px var(--color-8-t));
}

.articles_beneficios i {
  display: none;
}

.articles_beneficios figure {
  width: 50%;
}

.ul_article_services {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  text-align: left;
}

.ul_article_services li {
  border-top: 1px solid var(--color-5);
  color: var(--color-7);
  font-weight: bold;
}

/* ------------------------------------- */

.section_pregfrec {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.div_sumary {
  padding: 1.5rem;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: all .15s linear;
  background-color: var(--color-6);
  filter: drop-shadow(5px 5px 0px var(--color-8-t));
  border-radius: 10px;
}

.div_sumary i {
  color: var(--color-3);
}

.div_sumary:hover,
.div_sumary:hover i {
  transform: scale(1.01);
  color: var(--color-7);
}

.ul_detail {
  display: none;
  padding: 0 4rem;
  list-style: inside;
}