.main_services {}

.article_services {
  display: flex;
  padding: 2rem 4rem;
  gap: 2rem;
}

.article_services figure {
  filter: drop-shadow(0px 0px 150px var(--color-2));
  z-index: 10;
  width: clamp(500px, 100vh, 900px);
}