.article_services {
  display: flex;
  padding: 2rem 4rem;
  gap: 2rem;
  align-items: center;
}

.article_services figure {
  filter: drop-shadow(0px 0px 150px var(--color-5));
  z-index: 10;
  width: clamp(300px, 70vh, 580px);
}

/* ------------------------------------- */

.articles_beneficios {
  flex-wrap: wrap;
  row-gap: 2rem;
}

.articles_beneficios article {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.articles_beneficios i {
  display: none;
}

.articles_beneficios figure {
  width: 50%;
}

.ul_article_services {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  text-align: left;
}

.ul_article_services li {
  border-top: 1px solid var(--color-5);
  color: var(--color-7);
  font-weight: bold;
}

/* ------------------------------------- */

.section_pregfrec {
  background-color: var(--color-6);
}

.div_sumary {
  padding: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: all .15s linear;
  border-radius: 15px;
}

.div_sumary i {
  color: var(--color-1);
}

.div_sumary:hover {
  transform: scale(1.02);
  color: var(--color-2);
}

.ul_detail {
  /* display: none; */
  padding: 1rem 2rem;
  list-style: inside;
  background-color: var(--color-4);
}